@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --clr-header: rgba(93, 93, 129, 1);
    --clr-footer: rgba(162, 174, 187, 1);
    --clr-text: rgba(223, 224, 226, 1);
    --clr-black: rgba(7, 16, 19, 1);

    --clr-primarr-400: rgba(125, 125, 161, 1);
    --clr-primary-500: rgba(103, 103, 142, 1);
    --clr-primary-700: rgba(51, 51, 71, 1);

    --clr-secondary-200: rgba(184, 193, 204, 1);
    --clr-secondary-400: rgba(125, 141, 161, 1);
    --clr-secondary-500: rgba(103, 120, 142, 1);
    --clr-secondary-700: rgba(60, 70, 83, 1);

    --fs-small: 12px;
    --fs-medium: 20px;
    --fs-large: 25px;

    --padding-s: padding(12px);
    --padding-m: padding(22px);
    --padding-l: padding(30px);
    --padding-xl: padding(40px);
} 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

li{
    list-style-type: none;
}